@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}
#calls{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
#cal{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#a1cbdb, #e5ba91);
    opacity: 88%;
    height: 515px;
    width: 333px;
    padding: 10px;
    padding-left: 25px;
    border-style: double;
    box-shadow: 0px 10px 20px rgb(0, 0, 0);
    border-radius: 10%;
    overflow: hidden;
}

#side{
    position: absolute;
    top: 30vh;
    left: 80vw;

}


.a{
    width: 75px;
    font-size: 50px;
    margin: 7px;
    background-color: gainsboro;
    border-radius: 40%;
}
.b{
    
    color: aliceblue;
    opacity: 85%;
    font-size: 50px;
    border-radius: 250px;
    background-color: rgb(20, 20, 20);
}
.c{
    width: 80px;
    height: 60px;
    margin-left: 43px;
    border-radius: 10%;
    background-color: rgb(202, 238, 191);
}
#dis{
    width: 270px;
    height: 75px;
    font-size: 40px;
    margin-left: 15px;
    text-align: center;
    border-radius: 20%;
    background-color: black;
    color: blanchedalmond;
}
#dis:hover{background-color: white; color: black;}
.d{
    font-size: 52px;
    padding: 10px;
    width: 40px;
    height: 70px;
    margin-top: 7px;
    border-radius: 35%;
    background-color: rgb(240, 255, 185);
    
}
.a:hover{
    cursor: pointer;
    width: 85px;
    transition: 0.3s;
    background-color: rgb(0, 57, 163);
    color: white;
}
.f{box-shadow: 7px 10px 25px rgb(54, 54, 54);}
.b:hover{background: yellow; color: black; transition: 0.4s;}
.c:hover{background-color: black; color: darkkhaki; border-radius: 25%; font-style: italic;}
.d:hover{background-color: rgb(255, 0, 0);color: rgb(255, 255, 255);border-radius: 50%;transition: 0.3s;}
.f:active{background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);}

/* @media screen and (max-width: 500px){
    #cal{margin-left: 2px;
    }
    .d{margin-left: -475px;}
    
} */